{% extends 'base.html.twig' %}

{% block title %}Netemedia répliquée{% endblock %}

{#******** BLOCK BODY *******#}
{% block body %}
        
    <div class="row paddingtop50" style="background-color:#008390;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <span class="title-font white-color"><small>Page d'exemple</small><br />de réplication</span>
            <p>
                J'ai fait en sorte de créer mon propre code et de m'adapter au plus proche d'après la page d'origine.
                <br />
                <i>.... pour la perfection, question de temps ;)</i>
            </p>
        </div>
    </div>
    <section style="width:100%">
        
        <div class="BGHead">
            <div id="mainTitlePosition" class="containerSection col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="introduction_title_h1">
                    <strong>
                        Notre équipe de<br />passionnés...
                    </strong>
                </h1>
                <div class="redBand"></div>
                <h2 class="introduction_title_h2">
                    ... donne vie à vos rêves numériques
                </h2>
            </div>
        </div>
        

    </section>
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class='containerSection'>   
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            
            <h1 class="titre">Bienvenue chez nous</h1>
            
            <p class="subTitle">Netemedia c'est...</p>
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <div class="margin10 center text-center">
                        <div class="picto">
                            <img src="https://www.netemedia.fr/wp-content/uploads/2018/04/equipe-boss.png" />
                        </div>
                        <p class="text">
                            1 big boss
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <div class="margin10 center text-center">
                        <div class="picto">
                            <img src="https://www.netemedia.fr/wp-content/uploads/2018/04/equipe-chefProjet.png" />
                        </div>
                        <p class="text">
                            2 chefs de projets
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <div class="margin10 center text-center">
                        <div class="picto">
                            <img src="https://www.netemedia.fr/wp-content/uploads/2018/04/equipe-dev.png" />
                        </div>
                        <p class="text">
                            2 développeurs
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <div class="margin10 center text-center">
                        <div class="picto">
                            <img src="https://www.netemedia.fr/wp-content/uploads/2018/04/equipe-graphiste.png" />
                        </div>
                        <p class="text">
                            3 graphistes<br />freelance
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <div class="margin10 center text-center">
                        <div class="picto">
                            <img src="https://www.netemedia.fr/wp-content/uploads/2018/04/equipe-dev-free.png" />
                        </div>
                        <p class="text">
                            4 développeurs<br />freelance
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <div class="margin10 center text-center">
                        <div class="picto">
                            <img src="https://www.netemedia.fr/wp-content/uploads/2018/04/equipe-redac.png" />
                        </div>
                        <p class="text">
                            2 rédactrices web,<br />1 référenceur...
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <button id="buttonRed">Découvrez notre agence web</button>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin50 BGDarkBlue">
        <div class='containerSection'>
            
            
        </div>
    </section>
    
    {#******** CSS BLOCK *******#}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/pageExampleNM.css') }}"/>
    {% endblock %}
    {#******** END CSS BLOCK *******#}
    
    {#******** BLOCK JAVASCRIPT *******#}
    {% block javascripts %}
        <script type="text/javascript">
            
        </script>
    {% endblock %}
    {#******** END BLOCK JAVASCRIPT *******#}
    
{% endblock %}
{#******** END BLOCK BODY *******#}
